//Breakpoints

@mixin breakpoint($point) {
    @if $point==desktop {
        @media (min-width: 70em) {
            @content;
        }
    }

    @else if $point==laptop {
        @media (min-width: 64em) {
            @content;
        }
    }

    @else if $point==tablet {
        @media (min-width: 50em) {
            @content;
        }
    }

    @else if $point==phablet {
        @media (min-width: 37.5em) {
            @content;
        }
    }

    @else if $point==mobileonly {
        @media (max-width: 37.5em) {
            @content;
        }
    }
}

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');


//Colors
$textColor : #fff;
$errorColor : hsl(0, 100%, 63%);
$btnGradientColor : linear-gradient(to right,hsl(176, 68%, 64%),rgb(66,171,209)50%);
$mainBackgroundColor : hsl(218, 28%, 13%);
$heroBackgroundColor : rgb(28,34,48);
$footerBackgroundColor : hsl(216, 53%, 9%);
$testimonialsBackgroundColor : hsl(219, 30%, 18%);
$textArrowColor : rgb(92,118,127);


*,html,::after,::before {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-size: 16px;
}

header,
section,
footer{
    display: flex;
    justify-content: center;
}

section,footer {
    background: $mainBackgroundColor;
    padding: 100px 0;
}


h1,
h2,
h3,
h4 {
    color: $textColor;
    font-family: 'Raleway', sans-serif; 
    margin-bottom: 30px;
}

p,
a,
li {
    color: $textColor;
    font-family: 'Open-sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

h1 {
    font-size:3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

a,
p{
    font-size:1.5rem;
    line-height: 30px;
}

.container {
    width: 1440px;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
}

.row {
    flex-flow: row;
}


.text-wrapper {
    text-align: center;
}


.btn {
    display: inline-block;
    padding: 25px 25px;
    background: $btnGradientColor;
    border-radius: 50px;
}

.input {
    padding: 30px 40px;
    border-radius: 50px;
}

.text-arrow-cta {
    display:inline-block;
    color: $textArrowColor;
    border-bottom: 1px solid $textArrowColor;

    .icon-wrapper {
        display:inline-block;
        width: 25px;
        margin-left: 10px;
        padding-bottom: 5px;
    }
}



//Navbar

.navbar {
    padding: 40px 0;
    background: $heroBackgroundColor;

    .nav-links {
    width: 300px;
    display: flex;
    justify-content: space-between;

        a {
            font-size: 1.25rem;
            font-weight: 300;
        }
    }
}


//Home Page | Hero Section

.hero {
    background: $heroBackgroundColor;
    background-image: url('../images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y:bottom;

    .btn {
        width: 40%;
        margin-top: 45px;
        font-weight: 700;
    }
    
    .text-wrapper {
        max-width: 900px;
        margin-top: 50px;
    }

    .hero-paragraph {
        padding: 0 100px;
    }
}

//Home Page | Features Section

.home-features {
    
    .container {
        flex-wrap: wrap;
    }

    .feature-card {
        margin-bottom: 16px;
        max-width: 40%;
    }

    .img-wrapper {
        margin: 0 auto;
        margin-bottom: 45px;
        max-width: 30%;
        max-height: 30%;
    }
}

//Home Page | Collaboration Section

.home-collaboration {

    .img-wrapper {
        max-width: 700px;
        width: 50%;
    }

    .text-wrapper {
        text-align: left;
        width: 45%;
        max-width: 650px;

        h1 {
            max-width: 400px;
        }

        p {
            margin-bottom: 20px;
        }
    }
}

//Home Page | Testimonials Section

.home-testimonials {

    .testimonial-card {
        border-radius: 10px;
        width: 32%;
        max-width: 450px;
        padding: 40px 20px;
        background-color: $testimonialsBackgroundColor;
        
        //Quoted Text
        .testimonial-text {
            font-size: 1.3rem;
            text-align: left;
        }

        //Image, Name and Title
        .profile-wrapper {
            margin-top: 20px;
            display: flex;
            justify-content: start;
            align-items: center;


            .text-wrapper {
                text-align: left;

                .profile-name {
                    margin-bottom: 0;
                }

                .profile-title {
                    font-size: 1rem;
                }
            }

            .img-wrapper {
                width: 40px;
                height: 40px;
                margin-right: 20px;

                img {
                    border-radius: 100px;
                }
            }
        }
    }
}

//Home Page | Input Section

.home-input {
    background:linear-gradient($mainBackgroundColor 50%, $footerBackgroundColor 50%);

    .container {
        background-color: $heroBackgroundColor;
        max-width: 70%;
        width: 1000px;
        padding: 60px 35px;
        border-radius: 10px;

        .text-wrapper {
            max-width: 90%;
        }

        .cta-wrapper {
            margin-top: 40px;
            display: flex;

            .input {
                margin-right: 25px;
                flex-grow: 1;
            }
        }
    }
}

//Home Page | Footer Section

footer {
    background:$footerBackgroundColor;

    .img-wrapper {
        margin-right: auto;
    }

    .text-wrapper {
        display: flex;
        text-align: left;
        justify-content: space-between;
        margin-top: 50px;
    }

    .icon-text-wrapper {
        display: flex;
        align-items: center;

        img {
            width: 25px;
            height: 25px;
            object-fit: fill;
            margin-right: 20px;
        }
    }

    .footer-location {
        max-width: 40%;
        
        img {
            align-self: flex-start;
        }
    }

    .footer-socials {
        display: flex;
        justify-content: space-between;
        max-width: 150px;
        width: 150px;

        .social {
            border: solid white 1px;
            border-radius: 50px;
            padding:5px;
            width: 40px;
            height: 40px;
        }
    }
}